<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 别名 -->
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- lazyLoadingEnabled:延迟加载启动，默认是false -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- aggressiveLazyLoading：积极的懒加载，false的话按需加载，默认是true -->
        <setting name="aggressiveLazyLoading" value="false"/>

        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="mvc.slice.pojo"/>
        <package name="mvc.slice.controller.basedata"/>

    </typeAliases>
   <!-- <typeAliases>
        <typeAlias alias="searchEntityMap" type="Entity.SearchEntity"/>
        <typeAlias alias="commentInfoEntityMap" type="Entity.CommentInfoEntity"/>
        <typeAlias alias="loseInfoEntityMap" type="Entity.LoseInfoEntity"/>
        <typeAlias alias="pageMap" type="Entity.Page"/>
    </typeAliases>-->
    <!--<mappers>-->
        <!--&lt;!&ndash; 使用这个方案，可以单独指定Mapper的位置 &ndash;&gt;-->
        <!--<mapper resource="mapper/LoseInfo.xml"/>-->
        <!--<mapper resource="mapper/Manage.xml"/>-->
    <!--</mappers>-->
</configuration>