<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"> <!-- (1) -->

    <sec:http pattern="/resources/**" security="none"/> <!-- (2) -->
    <sec:http pattern="/css/**" security="none"/>
    <sec:http pattern="/js/**" security="none"/>
    <sec:http pattern="/other/**" security="none"/>

    <sec:http > <!-- (3) -->
        <sec:form-login login-page="/loginpage" login-processing-url="/authenticate"
        authentication-success-forward-url="/welcome"/> <!-- (4) -->
        <sec:logout /> <!-- (5) -->
        <sec:session-management/> <!-- (8) -->
        <sec:intercept-url pattern="/loginpage" access="permitAll"/>
        <sec:intercept-url pattern="/login" access="permitAll"/>

        <sec:intercept-url pattern="/show/**" access="isAuthenticated()"/>

        <sec:intercept-url pattern="/**" access="isAuthenticated()"/>

        <sec:csrf disabled="true"/>

    </sec:http>

    <sec:authentication-manager>

        <sec:authentication-provider user-service-ref="accountUserDetailService">
        </sec:authentication-provider>
    </sec:authentication-manager> <!-- (9) -->

    <bean id="passwordEncoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
</beans>